.container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 35%;
    margin-top: 4%;
  }
h1 {
text-align: center;
color: black; /* Assuming a blue color for the header */
font-family: "Poppins", sans-serif;
}
form {
display: flex;
flex-direction: column;
}
.input-group {
margin-bottom: 16px;
}
input[type=text] {
width: 97%;
padding: 12px;
margin: 5px 0;
border: 1px solid #ccc;
border-radius: 10px;
}
input[type="date"] {
        width: 97%;
        padding: 12px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-bottom: 20px;
      }
input[type=submit] {
background-color: black; /* Assuming a blue background for the submit button */
color: white;
font-size: 17px;
padding: 15px;
border: none;
border-radius: 10px;
cursor: pointer;
position: relative;
margin: auto;
width: 200px;
margin-bottom: -10px;
font-family: "Poppins", sans-serif;
background-color: #4070f4;
}
input[type=submit]:hover {
background-color: #3467f5;
}