body, html {
  height: 100%;
  margin: 0;
  font-family: 'Kanit';
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff; 
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 90px; 
  margin-left: 10px;
}

.logo-text {
  font-size: 24px; 
  color: #000;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin-left: 10%;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #000; 
  padding: 5px 15px;
  margin: 0 5px;
  font-size: 20px; 
  transition: color 0.3s;
}

.navbar .nav-links li a:hover {
  color: #555;
}

.language-select select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-card {
  background-color: white;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 400px;
  margin : auto;
  margin-top: -5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.profile-image {
  background-color: #ddd;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

.edit-button {
  width: calc(50% - 30px);
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 1em;
  font-family: 'Dubai Medium';
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 20px 0;
}

.name-fields {
  display: flex;
  gap: 8px;
  width: calc(80% - 20px);
  margin-left: 12%;
}

.profile-card input[type="text"],
.profile-card input[type = "tel"],
.profile-card input[type="password"] {
  width: calc(75% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 155px;
  border: 1px solid #ccc;
  font-size: 15px;
}
