<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/map1.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cost.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <header class="header">
        <div class="logo-container"> 
          <img src="{{ url_for('static', filename='images/happyclient.jpg') }}" alt="Happy Client Logo" class="logo">
          <span class="logo-text">Happy Client</span>
        </div>
        <nav class="navbar">
          <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Penalty</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </nav>
        <div clss="language-select">
          <select>
            <option value="en">English</option>
            <option value="ru">Russian</option>
            <option value="kz">Kazakh</option>
          </select>
        </div>
      </header>


  <h1>Welcome to your dashboard, {{ session.username }}</h1>
  <div id="map"></div>
  <script src="{{ url_for('static', filename='js/map.js') }}">
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR0oZB5mZQ_lWNc2kcrmfMbkaNOkw_AyE&callback=initMap">
  </script>
  
  <div class="cost-container">
    <h1>The cost of accommodation</h1>
    <div class="row">
      <div class="column">
        <ul>
          <li>Алмарасан – 220 000 тг</li>
          <li>г. Алматы – 220 000 тг</li>
          <li>Бишкекская трасса – 240 000 тг</li>
          <li>п. Воргалдай – от 120 000 тг</li>
          <li>Верхняя Каменка – 240 000 тг</li>
          <li>г. Есик – от 110 000 тг</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>г. Капшагай – 150 000 тг</li>
          <li>Капшагайская трасса – 240 000 тг</li>
          <li>г. Каскелен – от 150 000 тг</li>
          <li>Кульджинский тракт – от 180 000 тг</li>
          <li>п. Отеген Батыр (ГРЭС) – от 120 000 тг</li>
          <li>г. Талдыкорган – от 70 000 тг</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>г. Талгар – 240 000 тг</li>
          <li>Талгарская трасса – от 180 000 тг</li>
          <li>п. Узынагаш – 110 000 тг</li>
          <li>Шамалган станция – от 100 000 тг</li>
          <li>Алматы – Нур-Султан – от 100 000 тг</li>
        </ul>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <img src="{{ url_for('static', filename='images/appstore.jpg') }}" alt="App Store" />
      <img src="{{ url_for('static', filename='images/googleplay.jpg') }}" alt="Google Play" />
    </div>
    <div class="footer-section">
      <h3>Contacts</h3>
      <p>+7-777-530-47-53</p>
      <p>+7-777-530-40-50</p>
    </div>
    <div class="footer-section">
      <h3>Information</h3>
      <p>Address: Abylai khan 1/1</p>
      <p>About company</p>
    </div>
  </div>
</footer>

</body>
</html>
