<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientorder.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientorder1.css') }}">
  </head>
  <body>
    <nav class="sidebar">
      <a href="#" class="logo">Happy Client</a>

      <div class="menu-content">
        <ul class="menu-items">

            <li class="item">
                <a href="#">Dashboard</a>
              </li>
    
          <li class="item">
            <a href="#">Order to billboard</a>
          </li>

           <li class="item">
            <a href="#">Oder history</a>
          </li>

          <li class="item">
            <a href="#">Chat with manager</a>
          </li>

          <li class="item">
            <a href="#">Penalty</a>
          </li>

          <li class="item">
            <a href="#">Settings</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar">
      <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>

    <div class="container">
        <h1>Order to Billboard, {{ session.manager_name }}</h1>
        <form action="/submit_order" method="POST">
          <div class="input-group">
            <label for="company-name">Company name</label>
            <input type="text" id="company-name" name="company-name">
          </div>
          <div class="input-group">
            <label for="billboard-info">What about the billboard</label>
            <input type="text" id="billboard-info" name="billboard-info">
          </div>
          <div class="input-group">
            <label for="pdf-format">PDF format of billboard</label>
            <input type="text" id="pdf-format" name="pdf-format">
          </div>
          <label for="Start">Start date</label>
          <input type="date" id="Start" name="Start">
          <label for="End">End date</label>
          <input type="date" id="End" name="End">
          <input type="submit" value="Next">

        </form>
        
      </div>

  </body>
</html>