<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Client Sign up</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header class="header">
    <div class="logo-container">
      <img src="2024-02-21_13-16-59.png" alt="Happy Client Logo" class="logo">
      <span class="logo-text">Happy Client</span>
    </div>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </nav>
    <div class="language-select">
      <select>
        <option value="en">English</option>
        <option value="ru">Russian</option>
        <option value="kz">Kazakh</option>
      </select>
    </div>
  </header>

  <div class="signup-container">
    <h2>Sign up</h2>
    <p>Already have an account? <a href="#">Log in</a></p>
    <form>
      <div class="name-fields">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
      </div>
      <input type="text" placeholder="Email" required>
      <input type="tel" placeholder="Phone number" pattern="[0-9]{1}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
      <input type="password" placeholder="Password" required>
      <div><label>At least 8 characters (needs a number and lowercase letter)!</label></div>
      <button type="submit" class="login-btn">Sign up</button>
    </form>
    <div class="divider"><hr><span>or</span><hr></div>
    <div class="social-buttons">
      <a href="#" class="social-button google-button">
        <img src="1657955079google
